# KNN

In [119]:
# The similarity measure is dependent on the type of data. For real-valued data, 
# the Euclidean distance can be used. Other other types of data such as categorical or binary data,
# Hamming distance can be used.

# In the case of regression problems, the average of the predicted attribute may be returned. 
# In the case of classification, the most prevalent class may be returned.
# instance-based, competitive learning and lazy learning algorithms.
# computationally expensive

# Finally, kNN is powerful because it does not assume anything about the data, 
# other than a distance measure can be calculated consistently between any two instances.
# As such, it is called non-parametric or non-linear as it does not assume a functional form

In [120]:
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [121]:
iris = pd.read_csv('Iris.csv')

In [122]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [123]:
portion = 0.75

def split_data(data,portion ):
    sample_idx = np.random.randint(0,len(data),round(len(data)*portion))
    train = iris[iris.index.isin(sample_idx)]
    test = iris[~iris.index.isin(sample_idx)]
    return train , test

In [124]:
iris.iloc[:,-1].unique()
flower_name = dict (zip([0,1,2,3],iris.iloc[:,-1].unique()))

def decode(label):
    if label == 'Iris-setosa':
        return 0
    elif label == 'Iris-versicolor':
        return 1
    elif label == 'Iris-virginica':
        return 2
    else:
        return 3

In [125]:
flower_name

{0: 'Iris-setosa', 1: 'Iris-versicolor', 2: 'Iris-virginica'}

In [126]:
iris['Species'] = iris['Species'].apply(decode)

In [127]:
train , test =split_data(iris,portion)

X_train = train.iloc[:,1:-1]
y_train = train.iloc[:,-1]

X_test = test.iloc[:,1:-1]
y_test = test.iloc[:,-1]

In [129]:
def KNN(X_train,y_train,k):
    X_train =np.asarray(X_train)
    y_train = np.asarray(y_train)
    sample = X_test.iloc[2,:] 
    sample =np.asarray(sample)
    class1 = 0
    class0 = 0
    distance=[]

    for i in range(len(X_train)):
        distance.append(sum(abs(X_train[i,:]-sample)))

    dis_y=list(zip(distance,y_train))[0:k]

    second_param = lambda a:a[1]
    #     majority = sum(second_param(dis_y))/len(second_param(dis_y))
    #     return majority
    for i in range(len(dis_y)):
        if second_param(dis_y)==1 :
            class1 +=1
        else :
            class0 +=1
    return 1 if max(class0,class1)==class1 else 0

In [130]:

flower_name[KNN(X_train,y_train,3)]

'Iris-setosa'